.monitoring-section-title {
    color: #325F8A;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 10px;
}

h4.monitoring-section-title {
    font-size: 14px;
}

.monitoring-data-container {
    border-radius: 3px;
    width: 80%;
    border: 1px solid #CCDFCE;
}

.md-item {
    border-bottom: 1px solid #CCDFCE;
    min-width: 500px;
    min-height: 24px;
}

.md-item:first-child {
    border-top: none;
}

.md-item:last-child {
    border-bottom: none;
}

.md-item-success {
    background-color: #E1FCE4;
}

.md-item-warning {
    background-color: #FCFAD9;
}

.md-item-error {
    background-color: #FAEBE7;
}

.md-icon {
    width: 16px;
    height: 24px;
    margin-left: 10px;
    background: transparent url(../images/statuses.png) no-repeat;
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
}

.md-icon-info {
    background-position: -51px 4px;
}

.md-icon-succes {
    background-position: 0 4px;
}

.md-icon-warning {
    background-position: -34px 4px;
}

.md-icon-error {
    background-position: -17px 4px;
}

.md-item-title,
.md-item-value {
    font-weight: bold;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding: 3px 0 0 10px;
}

