<?xml version="1.0"?>
<config>
    <sections>
        <magemonitoring translate="label" module="magemonitoring">
            <label>Monitoring</label>
            <frontend_type>text</frontend_type>
            <tab>advanced</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="magemonitoring">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <info translate="label">
                            <label>MageMonitoring</label>
                            <sort_order>1</sort_order>
                            <frontend_model>magemonitoring/adminhtml_system_config_form_field_info</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </info>
                        <module_active translate="label">
                            <label>Module active?</label>
                            <comment><![CDATA[Main switch for all module functionality]]></comment>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </module_active>
                        <logging translate="label">
                            <label>Logging</label>
                            <comment><![CDATA[Enable logging to collect errors in <strong>Firegento_MageMonitoring.log</strong>]]></comment>
                            <sort_order>20</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><module_active>1</module_active></depends>
                        </logging>
                        <debug_logging translate="label">
                            <label>Debug Logging</label>
                            <comment><![CDATA[Enable debug logging to also collect debug information in <strong>Firegento_MageMonitoring.log</strong>]]></comment>
                            <sort_order>30</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><module_active>1</module_active><logging>1</logging></depends>
                        </debug_logging>
                    </fields>
                </general>
            </groups>
        </magemonitoring>
    </sections>

</config>

