<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hackathon_Magemagemonitoring>
            <version>1.0.0</version>
        </Hackathon_Magemagemonitoring>
    </modules>

    <default>
    </default>

    <global>
        <blocks>
            <magemonitoring>
                <class>Hackathon_MageMonitoring_Block</class>
            </magemonitoring>
        </blocks>

        <helpers>
            <magemonitoring>
                <class>Hackathon_MageMonitoring_Helper</class>
            </magemonitoring>
        </helpers>
    </global>

    <admin>
        <routers>
            <magemonitoring>
                <use>admin</use>
                <args>
                    <module>Hackathon_MageMonitoring</module>
                    <frontName>monitoring</frontName>
                </args>
            </magemonitoring>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <magemonitoring>
                    <file>monitoring.xml</file>
                </magemonitoring>
            </updates>
        </layout>
    </adminhtml>
</config>